/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}


/* LAYOUT */

html {
    font-family: "Open Sans", sans-serif;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    flex-basis: 230px;
    background-color: black;
    color: white;
}

.page {
    flex-grow: 1;
    background-color: rgba(20, 25, 34, 1);
    color: white;
}

button {
    display: contents;
}


/* PLAYER */

.player-bar {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.player-item {
justify-content: center;
}

/* BUTTON */

.player-bar button {
    color: white;
}

.player-btn {
    gap: 20px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    justify-content: center;
}

.fa-circle-play {
    font-size: 30px;
    
}

.fa-backward-step, .fa-forward-step {
    font-size: 12px;
}

.fa-shuffle .fa-rotate-right {
    font-size: 15px;
}


/* BAR */

.bar {
    display: flex;
    align-items: center;
    align-content: center;
}

.time-song {
    font-size: 8px;
    font-weight: bold;
}

.grey-bar {
    background-color: gray;
    width: 430px;
    height: 4px;
    border-radius: 999px;
    margin: 0 20px;

}


/* MEDIA QUERY */

@media (max-width: 877.99px) {

}

@media (max-width: 638.99px) {

}

@media (max-width: 521.99px) {
    .sidebar {
        flex-basis: 50px;
    }
}



/* DEBUG */

.debug > * {
	border: 2px solid cornflowerblue;
}