/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}

/* LAYOUT */

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    flex-basis: 230px;
    background-color: black;
    color: white;
}

.page {
    flex-grow: 1;
}

/* PLAYER */

.player-content {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    display: flex;
    justify-content: space-between;
}

/* MEDIA QUERY */

@media (max-width: 877.99px) {

}

@media (max-width: 638.99px) {

}

@media (max-width: 521.99px) {
    .sidebar {
        flex-basis: 50px;
    }
}



/* DEBUG */

.debug > * {
	border: 2px solid cornflowerblue;
	min-height: 100px;
    min-width: 40px;
}