/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}


/* LAYOUT */

html {
    font-family: "Open Sans", sans-serif;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    flex-basis: 230px;
    background-color: black;
    color: white;
    flex-shrink: 0;
}

.page {
    flex-grow: 1;
    background-color: rgba(20, 25, 34, 1);
    color: white;
}

button {
	background-color: transparent;
	border: none;
	color: currentColor;
}


/* PLAYER */

.player-bar {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    
}

.player-item {
    justify-content: center;
    width: 45%;
}

/* BUTTON */

.player-bar button {
    color: white;
}

.player-btn {
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 18px;
    justify-content: center;
}

.fa-circle-play {
    font-size: 30px;
    
}

.fa-backward-step, .fa-forward-step {
    font-size: 20px;
}

.fa-shuffle .fa-rotate-right {
    font-size: 20px;
}


/* Slider */

.bar {
    
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.time-song {
    font-size: 12px;
    font-weight: bold;
}

.slider {
	height: 4px;
	width: 120px;
	flex-grow: 1;
    border-radius: 999px;
	background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
}

/* VOLUME */

.volume-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.fa-bars,
.fa-desktop,
.fa-desktop {
    font-size: 16px;
}

.slider-volume {
	height: 4px;
	min-width: 120px;
    border-radius: 999px;
	background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    margin-left: 0;
}

/* SONG */

.song-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.song-img {
    width: 45px;
    flex-shrink: 0;
}

.author {
    font-size: 14px;
    font-weight: bold;
}

.song-name {
    font-size: 12px;
    font-weight: bold;
    color: rgba(135, 135, 135, 1);
}

.song-btn {
    
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.fa-folder,
.fa-heart {
 font-size: 18px;
 color: rgba(135, 135, 135, 1);
}


/* SIDEBAR */

.sidebar {
    padding-top: 20px;
    padding-left: 23px;
}

.logo-container {
    height: 43px;
    width: 133px;
    margin-bottom: 30px;
}

.logo-l {
    height: 43px;
    margin-bottom: 30px;
}


.sidebar-icon {
    height: 23px;
    margin-right: 20px;
}

.sidebar-text {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.sidebar-content {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    align-content: center;

}

.sidebar .img-side-container {
    height: 23px;
    width: 23px;
}

.t-grey{
    color: rgb(180, 180, 180);
}

.playlist-section h3 {
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
}

.add-btn {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
.plus {
    background-color: rgba(217, 217, 217, 1);
	border: none;
	color: black;
    font-size: 30px;
    line-height: 23px;
    padding: 7px;

}

.playlist-list li {
    padding: 10px 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.playlist-section {
    flex-grow: 1;
}

.user .sidebar-text::after {
    margin-top: 5px;
    content: '';
    display: block;
    width: 180px;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
}

.user .sidebar-text {
    padding: 0;
}

.user-content {
    margin: 20px 10px 10px 0px;
    width: 26px;
    height: 26px;
    border-radius: 999px;
    background-color: gray;
    background-image: url(../img/profile.svg);
    
}

.user-img {
    width: 19px;
    

}

.username {
    font-weight: bold;
    padding-top: 10px;
}

.user-container {
    display: flex;
    align-items: center;
    
}



/* MEDIA QUERY */

@media (max-width: 877.99px) {


}

@media (max-width: 638.99px) {

    /* SONG BTN */

    .song-btn {
            flex-direction: column;
            margin-right: 10px;
    }

    .slider-volume {
        min-width: 103px;
     
    }

}

 
@media (max-width: 521.99px) {
    

    /* SIDEBAR */

    .sidebar {
        flex-basis: 50px;
        
    }
    
    .slider-volume {
        min-width: 60px;
        margin-left: -10px;
     
    }
}



/* DEBUG */

.debug > * {
	border: 2px solid cornflowerblue;
}